.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)),
    url("../assets/background.jpeg");
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

form {
  background-color: white;
  margin: 50px 0px;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  color: black;
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #663399;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}